---
import Formulario from "./Formulario.tsx"
import Section from "./Section.astro"
---
<Section identificador="contacto" className="min-h-screen pt-5 scroll-mt-14 px-4 space-y-5 relative">
    <h2 class="text-textt/75 text-2xl md:text-4xl font-semibold ">Contacto</h2>
    <Formulario client:visible/>
</Section>