---
import foto from '../assets/foto.png'
import Section from './Section.astro'
import Descargar from './icons/Descargar.astro'
import ArrowDown from './icons/ArrowDown.astro'
---
<Section identificador="inicio" className="flex flex-col scroll-mt-14 items-center md:space-y-12 space-y-8 h-screen">
    <h1 class=" text-textt/75 text-2xl md:text-4xl font-semibold mt-8">Santiago Rodriguez Bone</h1>
    <div class="h-[175px]" >
        <img
        class="w-full h-full hover:cursor-pointer object-cover rounded-full  bg-emerald-400/10 ring-3 ring-textt/75 hover:ring-textp transition duration-300 hover-element" 
        src={foto.src} alt="rostro de Santiago Rodriguez Bone"/>
    </div>
    <p class="px-5 text-textp/95 text-base/6 md:w-1/2">
        Soy un programador backend al que le apasionan los retos y aprender de ellos. 
        Me enfoco en crear soluciones sólidas y estoy en constante búsqueda de mejorar y crecer en el desarrollo web.
    </p>
        <a
  href="/curriculum-SantiagoRodriguezBone.pdf"
  download
  class="btn shadow-hover">
 <Descargar/>
  Ver Curriculum
</a>


<a href="#proyectos" class="md:mt-auto  md:mb-20 cursor-pointer md:hover:translate-y-3 hover-link md:transition-transform duration-300">
    <ArrowDown size="40"/>
</a>


</Section>