---
import Contacto from "./Contacto.astro";
import Inicio from "./Inicio.astro";
import Proyectos from "./Proyectos.astro";
---

<main class="flex-1 ">
  <Inicio />
  <Proyectos />
  <Contacto />
</main>
