<dialog id="miDialogo" class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white rounded-xl shadow-lg p-6">
    <div id="modalSVG"></div>
    <p id="modalContent"></p>
    <button class="bg-red-500 text-white px-4 py-2 rounded" onclick="miDialogo.close();estado.classList.add('hidden')">Cerrar</button>
</dialog>