---
import BotonMenu from "./icons/BotonMenu.astro"
import Link from "./Link.astro"
---
<nav class="flex justify-items-center flex-col  ">
    <ul class="hidden md:flex space-x-30 mx-auto  my-0">
        <li ><Link href="#inicio" texto="Inicio"/></li>
        <li ><Link href="#proyectos" texto="Proyecto"/></li>
        <li><Link href="#contacto" texto="Contacto"/></li>
    </ul>
    <button id="menu-toggle" class="md:hidden focus:outline-none mx-auto  ">
        <BotonMenu/>
    </button>
    <ul id="mobile-menu" class="hidden md:hidden p-4 space-y-3 mx-auto text-center">
        <li><Link href="#inicio" texto="Inicio"/></li>
        <li><Link href="#proyectos" texto="Proyecto"/></li>
        <li><Link href="#contacto" texto="Contacto"/></li>
    </ul>

</nav>
<script>
    const toggleButton=document.getElementById('menu-toggle');
    const mobileMenu=document.getElementById('mobile-menu');

    toggleButton?.addEventListener('click',()=>{
        toggleButton.classList.toggle('pt-4');
        mobileMenu?.classList.toggle('hidden');
    });

    mobileMenu?.querySelectorAll('a').forEach(link=>{
        link.addEventListener('click',()=>{
            toggleButton?.classList.toggle('pt-4');
            mobileMenu.classList.add('hidden');
        });
    });
</script>