---
interface Props{
    identificador:string,
    className:string
}

const { identificador, className = "" } = Astro.props as Props;
---
<section id={identificador} class={className}>
    <slot/>
</section>