---
import "../styles/global.css";
---

<!doctype html>
<html lang="es"  >
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
		<title>Portfolio Santiago Rodriguez Bone</title>
	</head>
	<body class="bg-background/90 font-lato text-textp ">
		<div class="relative w-full max-w-[1024px] mx-auto bg-background-page/45 text-pgrayblue  shadow-body  ">
			<div class="absolute inset-0 z-0 bg-[url('/src/assets/backgroundIMG.svg')] bg-repeat bg-contain pointer-events-none"
				style="mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0)); -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));">
			</div>
			<div class="relative z-10 flex flex-col min-h-screen ">
				<slot />
			</div>

		</div>
	</body>


</html>

